<app-navbar></app-navbar>
<main class="container-fluid mt-5 mb-5">
    <div class="row pageBox">
        <div class="col-lg-4">
            <!---Filter-->
            <p>Filter</p>
            <p>Category:{{getParamValue | titlecase}}</p>
            <p>Subcategory</p>
            <select>
                <option *ngFor="let Subcategory of getSubCategoryOtpions" value="{{Subcategory.subcategories}}">{{Subcategory.subcategories}}</option>
            </select>
        </div>
        <div class="col-lg-8">
            <!-- product content -->
             <div class="row pageContent mt-5" *ngFor="let product of filterProductsData">
                <div class="col-lg-4">
                     <img src="{{product.pdImg}}" alt="">
                </div>
                <div class="col-lg-8">
                     <h4>{{product.pdName}}</h4>
                     <p>{{product.pdDesc}}</p>
                     <p><span class="fw-medium"><i class="bi bi-currency-rupee"></i></span>{{product.pdPrice | number}}</p>
                     <a class="btn btn-sm btn-dark"> view product <i class="bi bi-arrow-right"></i></a>
                </div>
             </div>
        </div>
    </div>
</main>