 .pageBox{
    padding: 3.125rem 3.125rem;
    margin: 50px 0px;
    background-color: #fff;
 }

 .pageContent{
    padding: .625rem 2.5rem;
 }

 .pageContent img{
 width: 50%;
 }

 .pageContent h4{
   font-weight: bold;
   font-size: 1.125rem;
 }