<app-navbar></app-navbar>

<main class="container-fluid">
  <!-- banner start -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <ng-container *ngFor="let banner of bannerImgs; let first = first">
        <div class="carousel-item" [class.active]="first">
          <img [src]="banner.img" class="d-block w-100" alt="..." />
        </div>
      </ng-container>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  </div>
  <!-- banner end -->

  <!-- categoris box start -->
  <div class="container mt-5 mb-5">
    <div class="row categorieBox">
      <div class="col lg-3 categorieContent" *ngFor="let categoria of categoriesImgs">
        <a [routerLink]="['products',categoria.code]">
          <img src="{{ categoria.img }}" />
          <h4>{{ categoria.name }}</h4>
        </a>
      </div>
    </div>
  </div>

  <!-- categoris box end -->

  <!-- show products start -->

  <!-- show appliance products -->
  <div class="container mt-3 mb-3">
    <div class="row productBox">
      <p>
        <a class="float-start link-offset-3" routerLink="">Best of Appliance</a>
        <a class="float-end" routerLink="">
          <i class="bi bi-arrow-right-circle"></i>
        </a>
      </p>
      <div class="col-lg-3 mt-5" *ngFor="let products of productsAll; index as i ">
         <a routerLink="" class="productLink">
           <div class="productsContent" *ngIf="i<=3">
          <div class="productImg">
                <img src="{{products.pdImg}}" alt="">
          </div>
          <h4>
            {{products.pdName}}
          </h4>
      
        </div>
         </a>
      </div>
    </div>
  </div>

  <!-- show appliance products -->

  <!-- show products end -->
</main>